version: '3.8'

services:
  prod:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8088:8080"  # Changed to 8088
    depends_on:
      - postgres
      - mongo
    environment:
      - GIN_MODE=release

  dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "8089:8080"  # Changed to 8089
    volumes:
      - .:/app
    depends_on:
      - postgres
      - mongo

  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: social_media
    ports:
      - "5433:5432"  # Changed to 5433 to avoid conflicts
    volumes:
      - postgres_data:/var/lib/postgresql/data

  mongo:
    image: mongo:4.4
    ports:
      - "27018:27017"  # Changed to 27018
    volumes:
      - mongo_data:/data/db

volumes:
  postgres_data:
  mongo_data: